In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
csv_path = 'combined data_1002.csv'
master_data = pd.read_csv(csv_path)
master_df = pd.DataFrame(master_data)
master_df.columns

Index(['Unnamed: 0', 'date', 'home_team', 'away_team', 'home_score',
       'away_score', 'tournament', 'city', 'country', 'neutral', 'year',
       'month', 'goal_diff', 'home_result', 'lat', 'lng', 'host_continent',
       'home_continent', 'away_continent', 'result', 'results', 'total_goals'],
      dtype='object')

In [3]:
master_df.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
master_df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,...,goal_diff,home_result,lat,lng,host_continent,home_continent,away_continent,result,results,total_goals
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872,...,0,Tie,NaN,NaN,Europe,Europe,Europe,NaN,Tie,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873,...,2,win,NaN,NaN,Europe,Europe,Europe,NaN,England,6
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874,...,1,win,NaN,NaN,Europe,Europe,Europe,NaN,Scotland,3
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875,...,0,Tie,NaN,NaN,Europe,Europe,Europe,NaN,Tie,4
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876,...,3,win,NaN,NaN,Europe,Europe,Europe,NaN,Scotland,3

In [102]:
csv_path2 = 'Countries of the world-f.csv'
country_data = pd.read_csv(csv_path2)
country_df = pd.DataFrame(country_data)
country_com_df=country_df.loc[:,['Country','Region','Population','Area','Pop. Density','GDP','Literacy']]
country_com_df.rename(columns={'Country':'countries'},inplace=True)
country_com_df.head()

,countries,Region,Population,Area,Pop. Density,GDP,Literacy
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,700.0,36.0
1,Albania,EASTERN EUROPE,3581655,28748,124.6,4500.0,86.5
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,6000.0,70.0
3,American Samoa,OCEANIA,57794,199,290.4,8000.0,97.0
4,Andorra,WESTERN EUROPE,71201,468,152.1,19000.0,100.0

In [6]:
fifa_cup_only=master_df.loc[master_df['tournament']=='FIFA World Cup']

In [7]:
fifa_cup_only.reset_index(drop=True,inplace=True)
fifa_cup_only.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,...,goal_diff,home_result,lat,lng,host_continent,home_continent,away_continent,result,results,total_goals
0,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True,1930,...,3,lose,NaN,NaN,South America,Europe,NCAC,NaN,United States,3
1,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True,1930,...,3,win,NaN,NaN,South America,Europe,NCAC,NaN,France,5
2,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True,1930,...,1,lose,NaN,NaN,South America,South America,Europe,NaN,Yugoslavia,3
3,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True,1930,...,2,lose,NaN,NaN,South America,South America,Europe,NaN,Romania,4
4,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True,1930,...,1,win,NaN,NaN,South America,South America,Europe,NaN,Argentina,1

In [34]:
#fifa_cup_only1=fifa_cup_only.iloc[:,[1,2,3,4,5,7,8,-1,-2]]
#fifa_cup_only1.head()

,home_team,away_team,home_score,away_score,tournament,country,neutral,total_goals,results
0,Belgium,United States,0,3,FIFA World Cup,Uruguay,True,3,United States
1,France,Mexico,4,1,FIFA World Cup,Uruguay,True,5,France
2,Brazil,Yugoslavia,1,2,FIFA World Cup,Uruguay,True,3,Yugoslavia
3,Peru,Romania,1,3,FIFA World Cup,Uruguay,True,4,Romania
4,Argentina,France,1,0,FIFA World Cup,Uruguay,True,1,Argentina

In [8]:
def result(row):
      
    if row['home_score'] > row['away_score']:
        return row['away_team']
    elif row['home_score'] < row['away_score']:
        return row['home_team']
    else:
        return('Tie')
fifa_cup_only['who_loses'] = fifa_cup_only[['home_score','away_score','home_team','away_team']].apply(result,axis=1)
fifa_cup_only.head()

C:\Users\tobe\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,...,home_result,lat,lng,host_continent,home_continent,away_continent,result,results,total_goals,who_loses
0,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True,1930,...,lose,NaN,NaN,South America,Europe,NCAC,NaN,United States,3,Belgium
1,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True,1930,...,win,NaN,NaN,South America,Europe,NCAC,NaN,France,5,Mexico
2,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True,1930,...,lose,NaN,NaN,South America,South America,Europe,NaN,Yugoslavia,3,Brazil
3,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True,1930,...,lose,NaN,NaN,South America,South America,Europe,NaN,Romania,4,Peru
4,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True,1930,...,win,NaN,NaN,South America,South America,Europe,NaN,Argentina,1,France

In [9]:
fifa_cup_only.rename(columns={'results':'who_wins'},inplace=True)

C:\Users\tobe\Anaconda3\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [ ]:
def score_ordered(df):
    max_score = max(df.home_score, df.away_score)
    min_score = min(df.home_score, df.away_score)
    return "{}-{}".format(max_score, min_score)

df['score_ordered'] = df.apply(score_ordered, axis=1)  # Apply score ordering row-wise

In [10]:
fifa_cup_only.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,...,home_result,lat,lng,host_continent,home_continent,away_continent,result,who_wins,total_goals,who_loses
0,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True,1930,...,lose,NaN,NaN,South America,Europe,NCAC,NaN,United States,3,Belgium
1,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True,1930,...,win,NaN,NaN,South America,Europe,NCAC,NaN,France,5,Mexico
2,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True,1930,...,lose,NaN,NaN,South America,South America,Europe,NaN,Yugoslavia,3,Brazil
3,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True,1930,...,lose,NaN,NaN,South America,South America,Europe,NaN,Romania,4,Peru
4,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True,1930,...,win,NaN,NaN,South America,South America,Europe,NaN,Argentina,1,France

In [66]:
win_country=fifa_cup_only.groupby('who_wins')['home_team'].count()
lose_country=fifa_cup_only.groupby('who_loses')['home_team'].count()
total_goal_home_a=fifa_cup_only.groupby('home_team')['home_score'].sum()
total_goal_away_a=fifa_cup_only.groupby('away_team')['away_score'].sum()
total_goal_home_d=fifa_cup_only.groupby('home_team')['away_score'].sum()
total_goal_away_d=fifa_cup_only.groupby('away_team')['home_score'].sum()
total_game_home=fifa_cup_only.groupby('home_team')['home_team'].count()  
total_game_away=fifa_cup_only.groupby('away_team')['away_team'].count()

In [25]:
tie_country_l=pd.DataFrame(fifa_cup_only.loc[fifa_cup_only['who_wins']=='Tie'])
tie_total_home=tie_country_l.groupby('home_team')['home_team'].count()
tie_total_away=tie_country_l.groupby('away_team')['away_team'].count()

In [58]:
tie_total=pd.concat([tie_total_home,tie_total_away],join='outer',axis=1,sort=True)
tie_total.fillna(0,inplace=True)
tie_total['total_tie']=tie_total['home_team']+tie_total['away_team']
tie_total.index.name='countries'
#tie_total

In [62]:
total_game_country=pd.concat([total_game_home,total_game_away],join='outer',axis=1,sort=True)
total_game_country.fillna(0,inplace=True)
total_game_country['total_game']=total_game_country['home_team']+total_game_country['away_team']
total_game_country.index.name='countries'
#total_game_country

In [74]:
total_attack=pd.concat([total_goal_home_a,total_goal_away_a],join='outer',axis=1,sort=True)
total_attack.fillna(0,inplace=True)
total_attack['total_attack']=total_attack['home_score']+total_attack['away_score']
total_attack.index.name='countries'
#total_attack

In [88]:
total_defence=pd.concat([total_goal_home_d,total_goal_away_d],join='outer',axis=1,sort=True)
total_defence.fillna(0,inplace=True)
total_defence['total_defence']=total_defence['home_score']+total_defence['away_score']
total_defence.index.name='countries'
#total_defence

In [95]:
total_win_lose=pd.concat([win_country,lose_country],join='outer',axis=1,sort=True)
total_win_lose.fillna(0,inplace=True)
total_win_lose.index.name='countries'
total_win_lose.columns=['total_win','total_lose']
#total_win_lose

In [ ]:
tie_total
total_game_country
total_attack
total_defence
total_win_lose

In [100]:
d=pd.merge(total_game_country,total_win_lose,how='outer',on='countries')
e=pd.merge(d,tie_total,how='outer',on='countries')
f=pd.merge(e,total_attack,how='outer',on='countries')
g=pd.merge(f,total_defence,how='outer',on='countries')
g.fillna(0,inplace=True)
fifa_country_card=g.iloc[:,[2,3,4,7,10,13]]
fifa_country_card

,total_game,total_win,total_lose,total_tie,total_attack,total_defence
countries,,,,,,
Algeria,13.0,3.0,7,3.0,13.0,19.0
Angola,3.0,0.0,1,2.0,1.0,2.0
Argentina,81.0,43.0,23,15.0,137.0,93.0
Australia,16.0,2.0,10,4.0,13.0,31.0
Austria,29.0,12.0,13,4.0,43.0,47.0
Belgium,48.0,20.0,19,9.0,68.0,72.0
Bolivia,6.0,0.0,5,1.0,1.0,20.0
Bosnia and Herzegovina,3.0,1.0,2,0.0,4.0,4.0
Brazil,109.0,73.0,18,18.0,229.0,105.0
Bulgaria,26.0,3.0,15,8.0,22.0,53.0
Cameroon,23.0,4.0,12,7.0,18.0,43.0
Canada,3.0,0.0,3,0.0,0.0,5.0
Chile,33.0,11.0,15,7.0,40.0,49.0
China PR,3.0,0.0,3,0.0,0.0,9.0
Colombia,22.0,9.0,10,3.0,32.0,30.0
Costa Rica,18.0,5.0,8,5.0,19.0,28.0
Croatia,23.0,11.0,8,4.0,35.0,26.0
Cuba,3.0,1.0,1,1.0,5.0,12.0
Czech Republic,3.0,1.0,2,0.0,3.0,4.0
Czechoslovakia,30.0,11.0,14,5.0,44.0,45.0
DR Congo,3.0,0.0,3,0.0,0.0,14.0
Denmark,20.0,9.0,6,5.0,30.0,26.0
Ecuador,10.0,4.0,5,1.0,10.0,11.0
Egypt,7.0,0.0,5,2.0,5.0,12.0
El Salvador,6.0,0.0,6,0.0,1.0,22.0
England,69.0,29.0,19,21.0,91.0,64.0
France,66.0,34.0,19,13.0,120.0,77.0
German DR,6.0,2.0,2,2.0,5.0,5.0
Germany,109.0,67.0,22,20.0,226.0,125.0
Ghana,12.0,4.0,5,3.0,13.0,16.0
...,...,...,...,...,...,...
Panama,3.0,0.0,3,0.0,2.0,11.0
Paraguay,27.0,7.0,10,10.0,30.0,38.0
Peru,18.0,5.0,10,3.0,21.0,33.0
Poland,34.0,16.0,13,5.0,46.0,45.0
Portugal,30.0,14.0,10,6.0,49.0,35.0
Republic of Ireland,13.0,2.0,3,8.0,10.0,10.0
Romania,21.0,8.0,8,5.0,30.0,32.0
Russia,45.0,19.0,16,10.0,77.0,54.0
Saudi Arabia,16.0,3.0,11,2.0,11.0,39.0
Scotland,23.0,4.0,12,7.0,25.0,41.0
Senegal,8.0,3.0,2,3.0,11.0,10.0
Serbia,13.0,4.0,8,1.0,11.0,21.0
Slovakia,4.0,1.0,2,1.0,5.0,7.0
Slovenia,6.0,1.0,4,1.0,5.0,10.0
South Africa,9.0,2.0,3,4.0,11.0,16.0
South Korea,34.0,6.0,19,9.0,34.0,70.0
Spain,63.0,30.0,18,15.0,99.0,72.0
Sweden,51.0,19.0,19,13.0,80.0,73.0
Switzerland,37.0,12.0,17,8.0,50.0,64.0
Togo,3.0,0.0,3,0.0,1.0,6.0
Trinidad and Tobago,3.0,0.0,2,1.0,0.0,4.0
Tunisia,15.0,2.0,9,4.0,13.0,25.0
Turkey,10.0,5.0,4,1.0,20.0,17.0
Ukraine,5.0,2.0,2,1.0,5.0,7.0
United Arab Emirates,3.0,0.0,3,0.0,2.0,11.0
United States,33.0,8.0,19,6.0,37.0,62.0
Uruguay,56.0,24.0,20,12.0,87.0,74.0
Wales,5.0,1.0,1,3.0,4.0,4.0
Yugoslavia,33.0,14.0,12,7.0,55.0,42.0
Tie,0.0,199.0,199,0.0,0.0,0.0

In [107]:
fifa_with_countryinfo=pd.merge(fifa_country_card,country_com_df,how='left',on='countries')

In [108]:
fifa_with_countryinfo

,countries,total_game,total_win,total_lose,total_tie,total_attack,total_defence,Region,Population,Area,Pop. Density,GDP,Literacy
0,Algeria,13.0,3.0,7,3.0,13.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Angola,3.0,0.0,1,2.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Argentina,81.0,43.0,23,15.0,137.0,93.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Australia,16.0,2.0,10,4.0,13.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Austria,29.0,12.0,13,4.0,43.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Belgium,48.0,20.0,19,9.0,68.0,72.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Bolivia,6.0,0.0,5,1.0,1.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Bosnia and Herzegovina,3.0,1.0,2,0.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Brazil,109.0,73.0,18,18.0,229.0,105.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Bulgaria,26.0,3.0,15,8.0,22.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Cameroon,23.0,4.0,12,7.0,18.0,43.0,NaN,NaN,NaN,NaN,NaN,NaN
11,Canada,3.0,0.0,3,0.0,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Chile,33.0,11.0,15,7.0,40.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN
13,China PR,3.0,0.0,3,0.0,0.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Colombia,22.0,9.0,10,3.0,32.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN
15,Costa Rica,18.0,5.0,8,5.0,19.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN
16,Croatia,23.0,11.0,8,4.0,35.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN
17,Cuba,3.0,1.0,1,1.0,5.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
18,Czech Republic,3.0,1.0,2,0.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
19,Czechoslovakia,30.0,11.0,14,5.0,44.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN
20,DR Congo,3.0,0.0,3,0.0,0.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN
21,Denmark,20.0,9.0,6,5.0,30.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN
22,Ecuador,10.0,4.0,5,1.0,10.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
23,Egypt,7.0,0.0,5,2.0,5.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
24,El Salvador,6.0,0.0,6,0.0,1.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN
25,England,69.0,29.0,19,21.0,91.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN
26,France,66.0,34.0,19,13.0,120.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN
27,German DR,6.0,2.0,2,2.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
28,Germany,109.0,67.0,22,20.0,226.0,125.0,NaN,NaN,NaN,NaN,NaN,NaN
29,Ghana,12.0,4.0,5,3.0,13.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,Panama,3.0,0.0,3,0.0,2.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
53,Paraguay,27.0,7.0,10,10.0,30.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN
54,Peru,18.0,5.0,10,3.0,21.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN
55,Poland,34.0,16.0,13,5.0,46.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN
56,Portugal,30.0,14.0,10,6.0,49.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN
57,Republic of Ireland,13.0,2.0,3,8.0,10.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
58,Romania,21.0,8.0,8,5.0,30.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN
59,Russia,45.0,19.0,16,10.0,77.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN
60,Saudi Arabia,16.0,3.0,11,2.0,11.0,39.0,NaN,NaN,NaN,NaN,NaN,NaN
61,Scotland,23.0,4.0,12,7.0,25.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN
62,Senegal,8.0,3.0,2,3.0,11.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
63,Serbia,13.0,4.0,8,1.0,11.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN
64,Slovakia,4.0,1.0,2,1.0,5.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
65,Slovenia,6.0,1.0,4,1.0,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
66,South Africa,9.0,2.0,3,4.0,11.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
67,South Korea,34.0,6.0,19,9.0,34.0,70.0,NaN,NaN,NaN,NaN,NaN,NaN
68,Spain,63.0,30.0,18,15.0,99.0,72.0,NaN,NaN,NaN,NaN,NaN,NaN
69,Sweden,51.0,19.0,19,13.0,80.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN
70,Switzerland,37.0,12.0,17,8.0,50.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN
71,Togo,3.0,0.0,3,0.0,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
72,Trinidad and Tobago,3.0,0.0,2,1.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
73,Tunisia,15.0,2.0,9,4.0,13.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN
74,Turkey,10.0,5.0,4,1.0,20.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
75,Ukraine,5.0,2.0,2,1.0,5.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
76,United Arab Emirates,3.0,0.0,3,0.0,2.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
77,United States,33.0,8.0,19,6.0,37.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN
78,Uruguay,56.0,24.0,20,12.0,87.0,74.0,NaN,NaN,NaN,NaN,NaN,NaN
79,Wales,5.0,1.0,1,3.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
80,Yugoslavia,33.0,14.0,12,7.0,55.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN
81,Tie,0.0,199.0,199,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN