In [1]:
import pandas as pd
import numpy as numpy
import scipy.stats as stats
import matplotlib.pyplot as plt

In [2]:
pwii_combined_data = pd.read_csv('post_WWII_data_1002.csv')
pwii_combined_data.head()

,Unnamed: 0,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,...,month,goal_diff,home_result,lat,lng,host_continent,home_continent,away_continent,result,results
0,0,1950-01-24,Zambia,DR Congo,1,0,Friendly,Kitwe,Northern Rhodesia,False,...,1,1,win,NaN,NaN,Others,Africa,Africa,NaN,Zambia
1,1,1950-02-17,Egypt,Greece,2,0,Friendly,Cairo,Egypt,False,...,2,2,win,NaN,NaN,Africa,Africa,Europe,NaN,Egypt
2,2,1950-02-26,Bolivia,Chile,2,0,Friendly,La Paz,Bolivia,False,...,2,2,win,NaN,NaN,South America,South America,South America,NaN,Bolivia
3,3,1950-02-26,Croatia,Serbia,4,1,Friendly,Zagreb,Yugoslavia,False,...,2,3,win,NaN,NaN,Europe,Europe,Europe,NaN,Croatia
4,4,1950-03-05,Italy,Belgium,3,1,Friendly,Bologna,Italy,False,...,3,2,win,NaN,NaN,Europe,Europe,Europe,NaN,Italy

In [6]:
bins = [0,1950,1960,1970,1980,1990,2000,2010,2020]
labels = ['before 50',"50's","60's","70's","80's","90's","2000's","2010's"]
pwii_combined_data['era'] = pd.cut(pwii_combined_data['year'], bins=bins, labels=labels)

In [7]:
pwii_combined_data.head()

,Unnamed: 0,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,...,goal_diff,home_result,lat,lng,host_continent,home_continent,away_continent,result,results,era
0,0,1950-01-24,Zambia,DR Congo,1,0,Friendly,Kitwe,Northern Rhodesia,False,...,1,win,NaN,NaN,Others,Africa,Africa,NaN,Zambia,before 50
1,1,1950-02-17,Egypt,Greece,2,0,Friendly,Cairo,Egypt,False,...,2,win,NaN,NaN,Africa,Africa,Europe,NaN,Egypt,before 50
2,2,1950-02-26,Bolivia,Chile,2,0,Friendly,La Paz,Bolivia,False,...,2,win,NaN,NaN,South America,South America,South America,NaN,Bolivia,before 50
3,3,1950-02-26,Croatia,Serbia,4,1,Friendly,Zagreb,Yugoslavia,False,...,3,win,NaN,NaN,Europe,Europe,Europe,NaN,Croatia,before 50
4,4,1950-03-05,Italy,Belgium,3,1,Friendly,Bologna,Italy,False,...,2,win,NaN,NaN,Europe,Europe,Europe,NaN,Italy,before 50

In [8]:
before_50 = pwii_overview_combined_ranked.loc[pwii_combined_data['era']== 'before 50']
before_50.head()

NameError: name 'pwii_overview_combined_ranked' is not defined

In [ ]:
pwii_combined_data['total_goals']=pwii_combined_data.home_score + pwii_combined_data.away_score

In [ ]:
pwii_wins = pwii_combined_data.results.value_counts()
pwii_wins_df = pd.DataFrame(pwii_wins)
pwii_wins_df = pwii_wins_df.reset_index()
pwii_wins_df = pwii_wins_df.rename(columns={'index':'team'})
pwii_wins_df.head()

In [ ]:
pwii_grouped_home = pwii_combined_data.groupby('home_team',as_index=False).sum().drop(columns=['Unnamed: 0','neutral','year','month','goal_diff','lat','lng','result'])
pwii_grouped_home_score = pwii_grouped_home.rename(columns={'home_score':'home_goals','away_score':'home_lost_goals','total_goals':'home_goals_per_game'})

pwii_grouped_home_score.head()

In [ ]:
pwii_grouped_away = pwii_combined_data.groupby('away_team',as_index=False).sum().drop(columns=['Unnamed: 0','neutral','year','month','goal_diff','lat','lng','result'])
pwii_grouped_away_score = pwii_grouped_away.rename(columns={'home_score':'away_lost_goals','away_score':'away_goals','total_goals':'away_goals_per_game'})
pwii_grouped_away_score.head()

In [ ]:
pwii_overview_score = pd.merge(pwii_grouped_home_score,pwii_grouped_away_score,left_on='home_team',right_on='away_team',how='outer')
pwii_overview_score.head()

In [ ]:
pwii_grouped_home_count = pwii_combined_data.groupby('home_team',as_index=False).count().drop(columns=['Unnamed: 0','neutral','month','goal_diff','lat','lng',
                                                                       'date','away_team','home_score','away_score','tournament','city',
                                                                       'country','neutral','home_result','away_continent','results',
                                                                       'total_goals','host_continent','result'])
pwii_grouped_home_count.head()

In [ ]:
pwii_grouped_away_count = pwii_combined_data.groupby('away_team',as_index=False).count().drop(columns=['Unnamed: 0','neutral','month','goal_diff','lat','lng',
                                                                       'date','home_team','home_score','away_score','tournament','city',
                                                                       'country','neutral','home_result','home_continent','results',
                                                                       'total_goals','host_continent','result'])

In [ ]:
pwii_overview_count = pd.merge(pwii_grouped_home_count,pwii_grouped_away_count, left_on='home_team',right_on='away_team',how='outer')
pwii_overview_count = pwii_overview_count.rename(columns={'home_continent':'home_game_count','away_continent':'away_game_count'})

In [ ]:
pwii_overview_combined = pd.merge(pwii_overview_count,pwii_overview_score,on=['home_team','away_team'],how='outer')
pwii_overview_combined = pwii_overview_combined.rename(columns={'home_team':'team'})

In [ ]:
pwii_overview_combined['total_goals']=pwii_overview_combined.home_goals + pwii_overview_combined.away_goals
pwii_overview_combined['total_games']=pwii_overview_combined.home_game_count + pwii_overview_combined.away_game_count

In [ ]:
pwii_overview_combined_wins = pd.merge(pwii_overview_combined,pwii_wins_df,how='outer')

In [ ]:
pwii_overview_combined_wins['winning_rate']=pwii_overview_combined_wins.results / pwii_overview_combined_wins.total_games
pwii_overview_combined_ranked = pwii_overview_combined_wins.sort_values(by='winning_rate',ascending=False)

In [ ]:
pwii_overview_combined_ranked.to_csv('pwii_overview_ranked_1003.csv')
pwii_overview_combined_ranked.head()

In [ ]:
scoped_down = pwii_overview_combined_ranked.loc[pwii_overview_combined_ranked['total_games'] >= 100, :]

In [ ]:
top_30 = scoped_down.iloc[:30, :]

In [ ]:
before_50.loc[before_50['team']=='Brazil', ['team','winning_rate']]

In [ ]:
fig, ax = plt.subplots(figsize = (10,8))
ax.barh(top_30['team'], top_30['winning_rate'],align='center')
plt.title('Top 30 Countries Post WWII')
plt.show()

In [ ]:
decade_50 = pwii_combined_data.loc[pwii_combined_data['era']== "50's"]

In [ ]:
pwii_combined_data['total_goals']=pwii_combined_data.home_score + pwii_combined_data.away_score

In [ ]:
pwii_grouped_home = pwii_combined_data.groupby('home_team',as_index=False).sum().drop(columns=['Unnamed: 0','neutral','year','month','goal_diff','lat','lng','result'])
pwii_grouped_home_score = pwii_grouped_home.rename(columns={'home_score':'home_goals','away_score':'home_lost_goals','total_goals':'home_goals_per_game'})

In [ ]:
pwii_grouped_away = pwii_combined_data.groupby('away_team',as_index=False).sum().drop(columns=['Unnamed: 0','neutral','year','month','goal_diff','lat','lng'])
pwii_grouped_away_score = pwii_grouped_away.rename(columns={'home_score':'away_lost_goals','away_score':'away_goals','total_goals':'away_goals_per_game'})

In [ ]:
pwii_overview_score = pd.merge(pwii_grouped_home_score,pwii_grouped_away_score,left_on='home_team',right_on='away_team',how='outer')

In [ ]:
pwii_grouped_home_count = pwii_combined_data.groupby('home_team',as_index=False).count().drop(columns=['Unnamed: 0','neutral','month','goal_diff','lat','lng',
                                                                       'date','away_team','home_score','away_score','tournament','city',
                                                                       'country','neutral','home_result','away_continent','results',
                                                                       'total_goals','host_continent'])

In [ ]:
pwii_grouped_away_count = pwii_combined_data.groupby('away_team',as_index=False).count().drop(columns=['Unnamed: 0','neutral','month','goal_diff','lat','lng',
                                                                       'date','home_team','home_score','away_score','tournament','city',
                                                                       'country','neutral','home_result','home_continent','results',
                                                                       'total_goals','host_continent','result'])

In [ ]:
pwii_overview_count = pd.merge(pwii_grouped_home_count,pwii_grouped_away_count, left_on='home_team',right_on='away_team',how='outer')
pwii_overview_count = pwii_overview_count.rename(columns={'home_continent':'home_game_count','away_continent':'away_game_count'})

In [ ]:
pwii_overview_combined = pd.merge(pwii_overview_count,pwii_overview_score,on=['home_team','away_team'],how='outer')
pwii_overview_combined = pwii_overview_combined.rename(columns={'home_team':'team'})

In [ ]:
pwii_overview_combined['total_goals']=pwii_overview_combined.home_goals + pwii_overview_combined.away_goals
pwii_overview_combined['total_games']=pwii_overview_combined.home_game_count + pwii_overview_combined.away_game_count

In [ ]:
pwii_overview_combined_wins = pd.merge(pwii_overview_combined,pwii_wins_df,how='outer')

In [ ]:
pwii_overview_combined_wins['winning_rate']=pwii_overview_combined_wins.results / pwii_overview_combined_wins.total_games
pwii_overview_combined_ranked = pwii_overview_combined_wins.sort_values(by='winning_rate',ascending=False)

In [ ]:
pwii_overview_combined_ranked.to_csv('pwii_overview_ranked_1003.csv')

In [ ]:
scoped_down = pwii_overview_combined_ranked.loc[pwii_overview_combined_ranked['total_games'] >= 100, :]

In [ ]:
top_30 = scoped_down.iloc[:30, :]

In [ ]:
decade_50.head()

In [ ]:
fig, ax = plt.subplots(figsize = (10,8))
ax.barh(top_30['team'], top_30['winning_rate'],align='center')
plt.title('Top 30 Countries Post WWII')
plt.show()

In [ ]:
decade_60s = pwii_combined_data.loc[pwii_combined_data['era']== "60's"]

In [ ]:
pwii_combined_data['total_goals']=pwii_combined_data.home_score + pwii_combined_data.away_score

In [ ]:
pwii_grouped_home = pwii_combined_data.groupby('home_team',as_index=False).sum().drop(columns=['Unnamed: 0','neutral','year','month','goal_diff','lat','lng','result'])
pwii_grouped_home_score = pwii_grouped_home.rename(columns={'home_score':'home_goals','away_score':'home_lost_goals','total_goals':'home_goals_per_game'})

In [ ]:
pwii_grouped_away = pwii_combined_data.groupby('away_team',as_index=False).sum().drop(columns=['Unnamed: 0','neutral','year','month','goal_diff','lat','lng'])
pwii_grouped_away_score = pwii_grouped_away.rename(columns={'home_score':'away_lost_goals','away_score':'away_goals','total_goals':'away_goals_per_game'})

In [ ]:
pwii_overview_score = pd.merge(pwii_grouped_home_score,pwii_grouped_away_score,left_on='home_team',right_on='away_team',how='outer')

In [ ]:
pwii_grouped_home_count = pwii_combined_data.groupby('home_team',as_index=False).count().drop(columns=['Unnamed: 0','neutral','month','goal_diff','lat','lng',
                                                                       'date','away_team','home_score','away_score','tournament','city',
                                                                       'country','neutral','home_result','away_continent','results',
                                                                       'total_goals','host_continent'])

In [ ]:
pwii_grouped_away_count = pwii_combined_data.groupby('away_team',as_index=False).count().drop(columns=['Unnamed: 0','neutral','month','goal_diff','lat','lng',
                                                                       'date','home_team','home_score','away_score','tournament','city',
                                                                       'country','neutral','home_result','home_continent','results',
                                                                       'total_goals','host_continent','result'])

In [ ]:
pwii_overview_count = pd.merge(pwii_grouped_home_count,pwii_grouped_away_count, left_on='home_team',right_on='away_team',how='outer')
pwii_overview_count = pwii_overview_count.rename(columns={'home_continent':'home_game_count','away_continent':'away_game_count'})

In [ ]:
decade_70s = pwii_combined_data.loc[pwii_combined_data['era']== "70's"]

In [ ]:
decade_80s = pwii_combined_data.loc[pwii_combined_data['era']== "80's"]

In [ ]:
decade_90s = pwii_combined_data.loc[pwii_combined_data['era']== "90's"]

In [ ]:
decade_2000s = pwii_combined_data.loc[pwii_combined_data['era']== "2000's"]

In [ ]:
decade_2010s = pwii_combined_data.loc[pwii_combined_data['era']== "2010's"]
decade_2010s.head()